@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Pacifico;
}

.header-main {
  background-color: #2E2F2F;
  text-align: center;
  padding: 15px;
  font-family: Pacifico;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  color: #F9F8F8;
  border-radius: 10px;
  margin-bottom: 10px;
}

.achivment {
  background-color: #2E2F2F;
  padding: 15px;
  font-family: Pacifico;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  color: #F9F8F8;
  border-radius: 10px;
}

.achivment-img {
  padding-top: 10px;
  height: 25px;
  width: 25px;
}

.achivment-info {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 10px;
}