body {
    font-size: 30px;
    background-color: rgb(247, 245, 245);
    font-family: "Bebas Neue";
    margin: 50px;
    background-image: url("http://storydev.epizy.com/res/images/background-sl.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.header {
    width: 100%;
    font-size: 40px;
    background-color: white;
    border-radius: 10px;
    text-shadow: 2px 2px 0 #3d3d3d, 4px 4px 0 #131313;
    color: #ffffff;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 30px;
    -webkit-box-shadow: 12px 13px 0px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 12px 13px 0px -1px rgba(0,0,0,0.58);
    box-shadow: 12px 13px 0px -1px rgba(0,0,0,0.58);
    background-image: url("http://storydev.epizy.com/res/images/background-sl4.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}
.sign-up_box{
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 12px 13px 0px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 12px 13px 0px -1px rgba(0,0,0,0.58);
    box-shadow: 12px 13px 0px -1px rgba(0,0,0,0.58);
    padding: 50px;
    background-image: url("http://storydev.epizy.com/res/images/background-sl4.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

#box {
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px 0px;
    border-radius: 3px;
    height: 40px;
    padding: 20px;
}

#button {
    font-family: "Bebas Neue";
    font-size: 30px;
    width: 150px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px 0px;
}

input {
    text-align: center;
}

select {
    width: 100%;
}

form {
    text-align: center;
    text-shadow: 2px 2px 0 #3d3d3d, 4px 4px 0 #131313;
    color: #ffffff;
}

.comment-text {
    font-size: 20px;
    text-shadow: 2px 2px 0 #3d3d3d, 4px 4px 0 #131313;
    color: #ffffff;
}

