@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  margin: 0%;
  font-family: Titillium web;
}

.main {
  width: 100%;
  padding: 20px;
}
.main-cn {
  width: 900px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
}

@media only screen and (max-width: 950px) {
  .main-cn {
    width: 100%;
  } 
}

.info-header {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 30px;
  font-family: Pacifico;
}

.info-by {
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 0px;
  font-size: 15px;
  font-family: Pacifico;
  color: #6b6b6b;
}

.info-breif {
  font-size: 15px;
  font-family: Pacifico;
  color: #383838;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

.info-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 0px;
}

.verified {
  color: #00e1ff;
}

.text-selection-none{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}